<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

 <title><%= current_repo.name %></title>
 <%= content_tag :link, "", href: feed_url, rel: "self" %>
 <%= content_tag :link, "", href: root_url %>
 <%= content_tag :updated, @posts.first.updated_at.iso8601 if @posts.any? %>
 <%= content_tag :id, current_repo.url %>
 <%= content_tag :author do %>
   <%= content_tag :name, AppConfig.site_author %>
  <% end if AppConfig.site_author %> 

 <% @posts.each do |post| %>
 <entry>
   <%= content_tag :title, post.title %>
   <%= content_tag :link, "", href: post_url(post) %>
   <%= content_tag :updated, post.updated_at.iso8601 %>
   <%= content_tag :id, post_url(post.id) %>
   <%= content_tag :content, type: "html" do %>
      <%= post.content %>
   <% end %>
 </entry>
 <% end %>

</feed>
