<!DOCTYPE html>
<html>
<head>
  <title>Ebarnouflant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="site-title"><%= link_to "Ebarnouflant", root_path %></div>
  </div>
  <div id="layout">
    <%= yield %>
  </div>
  <%= render "shared/ga", google_analytics_id: AppConfig.google_analytics_id unless AppConfig.google_analytics_id.blank? %>
</body>
</html>
